<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achievement.mapper.ConfStudentParentMapper">

  <resultMap type="com.achievement.entity.ConfStudentParent" id="ConfStudentParentMap">
    <result property="confId" column="conf_id" jdbcType="VARCHAR"/>
    <result property="studentId" column="student_id" jdbcType="VARCHAR"/>
    <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
    <result property="connectionType" column="connection_type" jdbcType="VARCHAR"/>
  </resultMap>

  <!--列集合-->
  <sql id="BASE_COLUMN">
      CONF_ID, STUDENT_ID, PARENT_ID,CONNECTION_TYPE
  </sql>
  <!--表名-->
  <sql id="BASE_TABLE">
		achievement.conf_student_parent
	</sql>

  <!--通过实体作为筛选条件查询-->
  <select id="list" resultMap="ConfStudentParentMap">
    select
    <include refid="BASE_COLUMN"/>
    from
    <include refid="BASE_TABLE"/>
    <where>
      <if test="confId != null and confId != ''">
        and conf_id = #{confId}
      </if>
      <if test="studentId != null and studentId != ''">
        and student_id = #{studentId}
      </if>
      <if test="parentId != null and parentId != ''">
        and parent_id = #{parentId}
      </if>
      <if test="connectionType != null and connectionType != ''">
        and connection_type = #{connectionType}
      </if>
      <if test="studentIds != null and studentIds.size >0 ">
        and student_id in
        <foreach collection="studentIds" item="studentId" index="no" open="(" separator="," close=")">
          #{studentId}
        </foreach>
      </if>
      <if test="parentIds != null and parentIds.size >0 ">
        and parent_id in
        <foreach collection="parentIds" item="parentId" index="no" open="(" separator="," close=")">
          #{parentId}
        </foreach>
      </if>
    </where>
  </select>

  <!--新增所有列-->
  <insert id="insert" keyProperty="confId" useGeneratedKeys="true" parameterType="java.util.List">
    insert into<include refid="BASE_TABLE"/>(<include refid="BASE_COLUMN"/>)
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.confId}, #{item.studentId}, #{item.parentId},#{item.connectionType} )
    </foreach>
  </insert>

  <!--通过主键修改数据-->
  <update id="update" parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
      UPDATE
      <include refid="BASE_TABLE"/>
      <set>
        <if test="item.studentId != null and item.studentId != ''">
          student_id = #{item.studentId},
        </if>
        <if test="item.parentId != null and item.parentId != ''">
          parent_id = #{item.parentId},
        </if>
        <if test="item.connectionType != null and item.connectionType != ''">
          connection_type = #{item.connectionType},
        </if>
      </set>
      where conf_id = #{item.confId}
    </foreach>
  </update>

  <!--通过主键删除-->
  <delete id="delete">
    delete from
    <include refid="BASE_TABLE"/>
    where conf_id in
    <foreach collection="list" item="item" index="no" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

  <!--删除学生与家长关系信息-->
  <delete id="deleteByParentId">
    delete from
    <include refid="BASE_TABLE"/>
    where parent_id in
    <foreach collection="list" item="item" index="no" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

  <!--删除学生与家长关系信息-->
  <delete id="deleteByStudentId">
    delete from
    <include refid="BASE_TABLE"/>
    where student_id in
    <foreach collection="list" item="item" index="no" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

</mapper>

