<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achievement.mapper.ScoreInfoMapper">

  <resultMap type="com.achievement.entity.ScoreInfo" id="ScoreInfoMap">
    <result property="scoreId" column="score_id" jdbcType="VARCHAR"/>
    <result property="classId" column="class_id" jdbcType="VARCHAR"/>
    <result property="insertTime" column="insert_time" jdbcType="TIMESTAMP"/>
    <result property="remark" column="remark" jdbcType="VARCHAR"/>
    <result property="scoreNumber" column="score_number" jdbcType="VARCHAR"/>
    <result property="semesterId" column="semester_id" jdbcType="VARCHAR"/>
    <result property="status" column="status" jdbcType="INTEGER"/>
    <result property="studentId" column="student_id" jdbcType="VARCHAR"/>
    <result property="subjectId" column="subject_id" jdbcType="VARCHAR"/>
    <result property="teacherId" column="teacher_id" jdbcType="VARCHAR"/>
    <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
  </resultMap>

  <!--列集合-->
  <sql id="BASE_COLUMN">
    SCORE_ID, CLASS_ID, TEACHER_ID,INSERT_TIME, REMARK, SCORE_NUMBER, SEMESTER_ID, STATUS, STUDENT_ID, SUBJECT_ID, UPDATE_TIME
  </sql>

  <!--成绩列-->
  <sql id="SCORE_COLUMN">
    S.SCORE_ID, S.CLASS_ID, S.TEACHER_ID,S.INSERT_TIME, S.REMARK, S.SCORE_NUMBER, S.SEMESTER_ID, S.STATUS, S.STUDENT_ID,
    S.SUBJECT_ID, S.UPDATE_TIME,SUB.SUBJECT_NAME,CLA.CLASS_NAME,STU.STUDENT_NAME,TEA.TEACHER_NAME,SEM.SEMESTER_NAME,
    GRA.GRADE_NAME,YEA.YEAR_NAME,GRA.GRADE_ID,CLA.CLASS_TYPE
  </sql>

  <!--成绩表、关联表-->
  <sql id="SCORE_TABLE">
    SCORE_INFO S, SUBJECT_INFO SUB ,CLASS_INFO CLA, STUDENT_INFO STU, TEACHER_INFO TEA,SEMESTER_INFO SEM,
    GRADE_INFO GRA,YEAR_INFO YEA
  </sql>

  <!--关联关系-->
  <sql id="scoreId">
    AND
    S.SUBJECT_ID=SUB.SUBJECT_ID
    AND
    S.CLASS_ID=CLA.CLASS_ID
    AND
    S.STUDENT_ID=STU.STUDENT_ID
    AND
    S.TEACHER_ID=TEA.TEACHER_ID
    AND
    S.SEMESTER_ID=SEM.SEMESTER_ID
    AND
    CLA.GRADE_ID=GRA.GRADE_ID
    AND
    SEM.YEAR_ID=YEA.YEAR_ID
    <if test="className!=null and className!=''">
      AND CLA.CLASS_NAME=#{className}
    </if>
    <if test="subjectName!=null and subjectName!=''">
      AND SUB.SUBJECT_NAME=#{subjectName}
    </if>
    <if test="studentName!=null and studentName!=''">
      AND STU.STUDENT_NAME=#{studentName}
    </if>
    <if test="teacherName!=null and teacherName!=''">
      AND TEA.TEACHER_NAME=#{teacherName}
    </if>
    <if test="semesterName!=null and semesterName!=''">
      AND SEM.SEMESTER_NAME=#{semesterName}
    </if>
    <if test="gradeName!=null and gradeName!=''">
      AND GRA.GRADE_NAME=#{gradeName}
    </if>
    <if test="yearName!=null and yearName!=''">
      AND YER.YEAR_NAME=#{yearName}
    </if>
  </sql>
  <!--表名-->
  <sql id="BASE_TABLE">
		achievement.score_info
	</sql>

  <!--通过实体作为筛选条件查询-->
  <select id="list" resultMap="ScoreInfoMap">
    select
    <include refid="SCORE_COLUMN"/>
    from
    <include refid="SCORE_TABLE"/>
    <where>
      <if test="scoreId != null and scoreId != ''">
        and s.score_id = #{scoreId}
      </if>
      <if test="classId != null and classId != ''">
        and s.class_id = #{classId}
      </if>
      <if test="insertTime != null">
        and s.insert_time = #{insertTime}
      </if>
      <if test="remark != null and remark != ''">
        and s.remark = #{remark}
      </if>
      <if test="scoreNumber != null and scoreNumber != ''">
        and s.score_number = #{scoreNumber}
      </if>
      <if test="semesterId != null and semesterId != ''">
        and s.semester_id = #{semesterId}
      </if>
      <if test="status != null">
        and s.status = #{status}
      </if>
      <if test="studentId != null and studentId != ''">
        and s.student_id = #{studentId}
      </if>
      <if test="subjectId != null and subjectId != ''">
        and s.subject_id = #{subjectId}
      </if>
      <if test="teacherId != null and teacherId != ''">
        and s.teacher_id = #{teacherId}
      </if>
      <if test="updateTime != null">
        and s.update_time = #{updateTime}
      </if>
      <include refid="scoreId"/>
    </where>
  </select>

  <!--班级最高、平均、最低成绩列-->
  <sql id="SCORE_INFO_COLUMN">
    CLASS_ID,SEMESTER_ID,SUBJECT_ID ,MAX(SCORE_NUMBER) MAX_SCORE,AVG(SCORE_NUMBER) AVG_SCORE,MIN(SCORE_NUMBER) MIN_SCORE
  </sql>

  <!--年级最高、平均、最低成绩列-->
  <sql id="GRADE_SCORE_INFO_COLUMN">
    GRA.GRADE_ID,SC.SEMESTER_ID,SC.SUBJECT_ID ,MAX(SC.SCORE_NUMBER) GRADE_MAX_SCORE,
    AVG(SC.SCORE_NUMBER) GRADE_AVG_SCORE,MIN(SC.SCORE_NUMBER) GRADE_MIN_SCORE
  </sql>

  <!--班级分组信息-->
  <sql id="CALCULATE_GROUP_SQL">
    GROUP BY CLASS_ID, SEMESTER_ID, SUBJECT_ID
  </sql>

  <!--年级分组信息-->
  <sql id="GRADE_CALCULATE_GROUP_SQL">
    GROUP BY GRA.GRADE_ID, SC.SEMESTER_ID, SC.SUBJECT_ID,CLA.CLASS_TYPE
  </sql>

  <!--年级分组表信息-->
  <sql id="GRADE_TABLE_SQL">
    SCORE_INFO SC ,GRADE_INFO GRA,CLASS_INFO CLA
  </sql>

  <!--班级查询SQL-->
  <sql id="CALCULATE_SQL">
    <where>
      <if test="classId!=null and classId!='' ">
        AND CLASS_ID=#{classId}
      </if>
      <if test="semesterId!=null and semesterId!='' ">
        AND SEMESTER_ID=#{semesterId}
      </if>
      <if test="subjectId!=null and subjectId!='' ">
        AND SUBJECT_ID=#{subjectId}
      </if>
    </where>
  </sql>

  <!--年级查询SQL-->
  <sql id="GRADE_CALCULATE_SQL">
    <where>
      SC.CLASS_ID= CLA.CLASS_ID
      AND
      CLA.GRADE_ID=GRA.GRADE_ID
      <if test="classId!=null and classId!='' ">
        AND SC.CLASS_ID=#{classId}
      </if>
      <if test="gradeId!=null and gradeId!='' ">
        AND GRA.GRADE_ID=#{gradeId}
      </if>
      <if test="semesterId!=null and semesterId!='' ">
        AND SC.SEMESTER_ID=#{semesterId}
      </if>
      <if test="subjectId!=null and subjectId!='' ">
        AND SC.SUBJECT_ID=#{subjectId}
      </if>
    </where>
  </sql>

  <!--班级最高、平均、最低成绩-->
  <select id="listClassScoreInfo" resultMap="ScoreInfoMap">
    select
    <include refid="SCORE_INFO_COLUMN"/>
    from
    <include refid="BASE_TABLE"/>
    <include refid="CALCULATE_SQL"/>
    <include refid="CALCULATE_GROUP_SQL"/>
  </select>

  <!--年级最高、平均、最低成绩-->
  <select id="listGradeScoreInfo" resultMap="ScoreInfoMap">
    select
    <include refid="GRADE_SCORE_INFO_COLUMN"/>
    from
    <include refid="GRADE_TABLE_SQL"/>
    <include refid="GRADE_CALCULATE_SQL"/>
    <include refid="GRADE_CALCULATE_GROUP_SQL"/>
  </select>

  <!--新增所有列-->
  <insert id="insert" keyProperty="scoreId" useGeneratedKeys="true" parameterType="java.util.List">
    insert into
    <include refid="BASE_TABLE"/>
    (<include refid="BASE_COLUMN"/>)
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.scoreId}, #{item.classId},#{item.teacherId},SYSDATE(), #{item.remark}, #{item.scoreNumber},
      #{item.semesterId}, #{item.status}, #{item.studentId}, #{item.subjectId}, SYSDATE() )
    </foreach>
  </insert>

  <!--通过主键修改数据-->
  <update id="update" parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
      UPDATE
      <include refid="BASE_TABLE"/>
      <set>
        <if test="item.classId != null and item.classId != ''">
          class_id = #{item.classId},
        </if>
        <if test="item.remark != null and item.remark != ''">
          remark = #{item.remark},
        </if>
        <if test="item.scoreNumber != null and item.scoreNumber != ''">
          score_number = #{item.scoreNumber},
        </if>
        <if test="item.semesterId != null and item.semesterId != ''">
          semester_id = #{item.semesterId},
        </if>
        <if test="item.status != null">
          status = #{item.status},
        </if>
        <if test="item.studentId != null and item.studentId != ''">
          student_id = #{item.studentId},
        </if>
        <if test="item.subjectId != null and item.subjectId != ''">
          subject_id = #{item.subjectId},
        </if>
        <if test="item.teacherId != null and item.teacherId != ''">
          teacher_id = #{item.teacherId},
        </if>
        <if test="item.updateTime==null">
          update_time = SYSDATE(),
        </if>
        <if test="item.updateTime != null">
          update_time = #{item.updateTime},
        </if>
      </set>
      where score_id = #{item.scoreId}
    </foreach>
  </update>

  <!--通过主键删除-->
  <delete id="delete">
    delete from
    <include refid="BASE_TABLE"/>
    where score_id in
    <foreach collection="list" item="item" index="no" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

</mapper>

