<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achievement.mapper.StudentInfoMapper">

  <resultMap type="com.achievement.entity.StudentInfo" id="StudentInfoMap">
    <result property="studentId" column="student_id" jdbcType="VARCHAR"/>
    <result property="classId" column="class_id" jdbcType="VARCHAR"/>
    <result property="studentNum" column="student_num" jdbcType="VARCHAR"/>
    <result property="studentName" column="student_name" jdbcType="VARCHAR"/>
    <result property="phoneUrl" column="phone_url" jdbcType="VARCHAR"/>
    <result property="sex" column="sex" jdbcType="VARCHAR"/>
    <result property="telPhone" column="tel_phone" jdbcType="VARCHAR"/>
    <result property="txQq" column="tx_qq" jdbcType="VARCHAR"/>
    <result property="txWx" column="tx_wx" jdbcType="VARCHAR"/>
    <result property="xlWb" column="xl_wb" jdbcType="VARCHAR"/>
    <result property="remark" column="remark" jdbcType="VARCHAR"/>
    <result property="status" column="status" jdbcType="INTEGER"/>
    <result property="insertTime" column="insert_time" jdbcType="TIMESTAMP"/>
    <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
  </resultMap>

  <!--列集合-->
  <sql id="BASE_COLUMN">
      STUDENT_ID, INSERT_TIME, PHONE_URL, REMARK, SEX, STATUS, STUDENT_NAME, TEL_PHONE, TX_QQ, TX_WX, UPDATE_TIME, XL_WB,CLASS_ID,STUDENT_NUM
   </sql>
  <!--表名-->
  <sql id="BASE_TABLE">
		achievement.student_info
	</sql>

  <!--通过实体作为筛选条件查询-->
  <select id="list" resultMap="StudentInfoMap">
    select
    <include refid="BASE_COLUMN"/>
    from
    <include refid="BASE_TABLE"/>
    <where>
      <if test="studentId != null and studentId != ''">
        and student_id = #{studentId}
      </if>
      <if test="insertTime != null">
        and insert_time = #{insertTime}
      </if>
      <if test="phoneUrl != null and phoneUrl != ''">
        and phone_url = #{phoneUrl}
      </if>
      <if test="remark != null and remark != ''">
        and remark  LIKE CONCAT('%',#{remark},'%')
      </if>
      <if test="sex != null and sex != ''">
        and sex LIKE CONCAT('%',#{sex},'%')
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
      <if test="studentName != null and studentName != ''">
        and student_name LIKE CONCAT('%',#{studentName},'%')
      </if>
      <if test="telPhone != null and telPhone != ''">
        and tel_phone LIKE CONCAT('%',#{telPhone},'%')
      </if>
      <if test="txQq != null and txQq != ''">
        and tx_qq LIKE CONCAT('%',#{txQq},'%')
      </if>
      <if test="txWx != null and txWx != ''">
        and tx_wx LIKE CONCAT('%',#{txWx},'%')
      </if>
      <if test="updateTime != null">
        and update_time = #{updateTime}
      </if>
      <if test="xlWb != null and xlWb != ''">
        and xl_wb LIKE CONCAT('%',#{xlWb},'%')
      </if>
      <if test="classId != null and classId != ''">
        and class_id = #{classId}
      </if>
      <if test="studentNum != null and studentNum != ''">
        and student_num = #{studentNum}
      </if>
      <if test="classIds !=null and classIds.size>0 ">
        and class_id in
        <foreach collection="classIds" item="classId" index="no" open="(" separator="," close=")">
          #{classId}
        </foreach>
      </if>
      <if test="studentIds != null and studentIds.size >0 ">
        and student_id in
        <foreach collection="studentIds" item="studentId" index="no" open="(" separator="," close=")">
          #{studentId}
        </foreach>
      </if>
    </where>
  </select>

  <!--新增所有列-->
  <insert id="insert" keyProperty="studentId" useGeneratedKeys="true" parameterType="java.util.List">
    insert into
    <include refid="BASE_TABLE"/>
    (<include refid="BASE_COLUMN"/>)
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.studentId}, SYSDATE(), #{item.phoneUrl}, #{item.remark}, #{item.sex}, #{item.status},
      #{item.studentName}, #{item.telPhone}, #{item.txQq}, #{item.txWx}, SYSDATE(), #{item.xlWb},
      #{item.classId},#{item.studentNum}
      )
    </foreach>
  </insert>


  <!--通过主键修改数据-->
  <update id="update" parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
      UPDATE
      <include refid="BASE_TABLE"/>
      <set>
        <if test="insertTime != null">
          insert_time = #{insertTime},
        </if>
        <if test="item.phoneUrl != null and item.phoneUrl != ''">
          phone_url = #{item.phoneUrl},
        </if>
        <if test="item.remark != null and item.remark != ''">
          remark = #{item.remark},
        </if>
        <if test="item.sex != null and item.sex != ''">
          sex = #{item.sex},
        </if>
        <if test="item.status != null">
          status = #{item.status},
        </if>
        <if test="item.studentName != null and item.studentName != ''">
          student_name = #{item.studentName},
        </if>
        <if test="item.telPhone != null and item.telPhone != ''">
          tel_phone = #{item.telPhone},
        </if>
        <if test="item.txQq != null and item.txQq != ''">
          tx_qq = #{item.txQq},
        </if>
        <if test="item.txWx != null and item.txWx != ''">
          tx_wx = #{item.txWx},
        </if>
        <if test="item.xlWb != null and item.xlWb != ''">
          xl_wb = #{item.xlWb},
        </if>
        <if test="item.classId != null and item.classId != ''">
          class_id = #{item.classId},
        </if>
        <if test="item.studentNum != null and item.studentNum != ''">
          student_num = #{item.studentNum},
        </if>
        <if test="item.updateTime==null">
          update_time = SYSDATE(),
        </if>
        <if test="item.updateTime != null">
          update_time = #{item.updateTime},
        </if>
      </set>
      where student_id = #{studentId}
    </foreach>
  </update>

  <!--通过主键删除-->
  <delete id="delete">
    delete from
    <include refid="BASE_TABLE"/>
    where student_id in
    <foreach collection="list" item="item" index="no" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

</mapper>

