<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achievement.mapper.SubjectScoreInfoMapper">

  <resultMap type="com.achievement.entity.SubjectScoreInfo" id="SubjectScoreInfoMap">
    <result property="id" column="id" jdbcType="VARCHAR"/>
    <result property="yearId" column="year_id" jdbcType="VARCHAR"/>
    <result property="semesterId" column="semester_id" jdbcType="VARCHAR"/>
    <result property="gradeId" column="grade_id" jdbcType="VARCHAR"/>
    <result property="classId" column="class_id" jdbcType="VARCHAR"/>
    <result property="classType" column="class_type" jdbcType="VARCHAR"/>
    <result property="studentId" column="student_id" jdbcType="VARCHAR"/>
    <result property="teacherId" column="teacher_id" jdbcType="VARCHAR"/>
    <result property="subLanguage" column="sub_language" jdbcType="OTHER"/>
    <result property="subMathematics" column="sub_mathematics" jdbcType="OTHER"/>
    <result property="subEnglish" column="sub_english" jdbcType="OTHER"/>
    <result property="subHistory" column="sub_history" jdbcType="OTHER"/>
    <result property="subGeography" column="sub_geography" jdbcType="OTHER"/>
    <result property="subBiological" column="sub_biological" jdbcType="OTHER"/>
    <result property="subChemistry" column="sub_chemistry" jdbcType="OTHER"/>
    <result property="subPhysical" column="sub_physical" jdbcType="OTHER"/>
    <result property="subPolitical" column="sub_political" jdbcType="OTHER"/>
    <result property="subComputer" column="sub_computer" jdbcType="OTHER"/>
    <result property="subSports" column="sub_sports" jdbcType="OTHER"/>
    <result property="subArt" column="sub_art" jdbcType="OTHER"/>
    <result property="subMusic" column="sub_music" jdbcType="OTHER"/>
    <result property="insertTime" column="insert_time" jdbcType="TIMESTAMP"/>
    <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
  </resultMap>

  <!--列集合-->
  <sql id="BASE_COLUMN">
      ID, YEAR_ID, SEMESTER_ID, GRADE_ID, CLASS_ID, CLASS_TYPE, STUDENT_ID, TEACHER_ID, SUB_LANGUAGE,
      SUB_MATHEMATICS, SUB_ENGLISH, SUB_HISTORY, SUB_GEOGRAPHY, SUB_BIOLOGICAL, SUB_CHEMISTRY,
      SUB_PHYSICAL, SUB_POLITICAL, SUB_COMPUTER, SUB_SPORTS, SUB_ART, SUB_MUSIC, INSERT_TIME, UPDATE_TIME,SUB_SCORE_SUM
   </sql>

  <!--查询列集合-->
  <sql id="QUERY_COLUMN">
      ID, YEAR_ID, SEMESTER_ID, GRADE_ID, CLASS_ID, CLASS_TYPE, STUDENT_ID, TEACHER_ID,
      IFNULL(SUB_LANGUAGE,0) SUB_LANGUAGE,
      IFNULL(SUB_MATHEMATICS,0) SUB_MATHEMATICS,
      IFNULL(SUB_ENGLISH,0) SUB_ENGLISH,
      IFNULL(SUB_HISTORY,0) SUB_HISTORY,
      IFNULL(SUB_GEOGRAPHY,0) SUB_GEOGRAPHY,
      IFNULL(SUB_BIOLOGICAL,0) SUB_BIOLOGICAL,
      IFNULL(SUB_CHEMISTRY,0) SUB_CHEMISTRY,
      IFNULL(SUB_PHYSICAL,0) SUB_PHYSICAL,
      IFNULL(SUB_POLITICAL,0) SUB_POLITICAL,
      IFNULL(SUB_COMPUTER,0) SUB_COMPUTER,
      IFNULL(SUB_SPORTS,0)SUB_SPORTS,
      IFNULL(SUB_ART,0)SUB_ART,
      IFNULL(SUB_MUSIC,0)SUB_MUSIC,
      IFNULL(SUB_SCORE_SUM,0)SUB_SCORE_SUM,
      INSERT_TIME, UPDATE_TIME
   </sql>

  <!--表名-->
  <sql id="BASE_TABLE">
		achievement.subject_score_info
	</sql>

  <!--通过实体作为筛选条件查询-->
  <select id="list" resultMap="SubjectScoreInfoMap">
    select
    <include refid="QUERY_COLUMN"/>
    from
    <include refid="BASE_TABLE"/>
    <where>
      <if test="id != null and id != ''">
        and id = #{id}
      </if>
      <if test="yearId != null and yearId != ''">
        and year_id = #{yearId}
      </if>
      <if test="semesterId != null and semesterId != ''">
        and semester_id = #{semesterId}
      </if>
      <if test="gradeId != null and gradeId != ''">
        and grade_id = #{gradeId}
      </if>
      <if test="classId != null and classId != ''">
        and class_id = #{classId}
      </if>
      <if test="classType != null and classType != ''">
        and class_type = #{classType}
      </if>
      <if test="studentId != null and studentId != ''">
        and student_id = #{studentId}
      </if>
      <if test="teacherId != null and teacherId != ''">
        and teacher_id = #{teacherId}
      </if>
      <if test="subLanguage != null">
        and sub_language = #{subLanguage}
      </if>
      <if test="subMathematics != null">
        and sub_mathematics = #{subMathematics}
      </if>
      <if test="subEnglish != null">
        and sub_english = #{subEnglish}
      </if>
      <if test="subHistory != null">
        and sub_history = #{subHistory}
      </if>
      <if test="subGeography != null">
        and sub_geography = #{subGeography}
      </if>
      <if test="subBiological != null">
        and sub_biological = #{subBiological}
      </if>
      <if test="subChemistry != null">
        and sub_chemistry = #{subChemistry}
      </if>
      <if test="subPhysical != null">
        and sub_physical = #{subPhysical}
      </if>
      <if test="subPolitical != null">
        and sub_political = #{subPolitical}
      </if>
      <if test="subComputer != null">
        and sub_computer = #{subComputer}
      </if>
      <if test="subSports != null">
        and sub_sports = #{subSports}
      </if>
      <if test="subArt != null">
        and sub_art = #{subArt}
      </if>
      <if test="subMusic != null">
        and sub_music = #{subMusic}
      </if>
      <if test="insertTime != null">
        and insert_time = #{insertTime}
      </if>
      <if test="updateTime != null">
        and update_time = #{updateTime}
      </if>
      <if test="studentIds != null and studentIds.size >0 ">
        and student_id in
        <foreach collection="studentIds" item="studentId" index="no" open="(" separator="," close=")">
          #{studentId}
        </foreach>
      </if>
    </where>
  </select>

  <!--班级分组信息-->
  <sql id="CALCULATE_GROUP_SQL">
    GROUP BY CLASS_ID, SEMESTER_ID
  </sql>

  <!--年级分组信息-->
  <sql id="GRADE_CALCULATE_GROUP_SQL">
    GROUP BY GRADE_ID, SEMESTER_ID,CLASS_TYPE
  </sql>

  <!--班级最高、平均、最低成绩列-->
  <sql id="SCORE_INFO_COLUMN">
    CLASS_ID,SEMESTER_ID ,MAX(SUB_SCORE_SUM) MAX_SCORE,AVG(SUB_SCORE_SUM) AVG_SCORE,MIN(SUB_SCORE_SUM) MIN_SCORE
  </sql>

  <!--年级最高、平均、最低成绩列-->
  <sql id="GRADE_SCORE_INFO_COLUMN">
    GRADE_ID,SEMESTER_ID ,MAX(SUB_SCORE_SUM) GRADE_MAX_SCORE,
    AVG(SUB_SCORE_SUM) GRADE_AVG_SCORE,MIN(SUB_SCORE_SUM) GRADE_MIN_SCORE
  </sql>

  <!--班级最高、平均、最低成绩-->
  <select id="listClassScoreInfo" resultMap="SubjectScoreInfoMap">
    select
    <include refid="SCORE_INFO_COLUMN"/>
    from
    <include refid="BASE_TABLE"/>
    <include refid="CALCULATE_GROUP_SQL"/>
  </select>

  <!--年级最高、平均、最低成绩-->
  <select id="listGradeScoreInfo" resultMap="SubjectScoreInfoMap">
    select
    <include refid="GRADE_SCORE_INFO_COLUMN"/>
    from
    <include refid="BASE_TABLE"/>
    <include refid="GRADE_CALCULATE_GROUP_SQL"/>
  </select>

  <!--班级排名信息-->
  <select id="listClassScoreRanking" resultMap="SubjectScoreInfoMap">
    SELECT GRA.GRADE_ID, GRA.GRADE_NAME, CLA.CLASS_ID,
    CLA.CLASS_NAME, CLA.CLASS_TYPE,
    YEA.YEAR_ID,YEA.YEAR_NAME,SEM.SEMESTER_ID,SEM.SEMESTER_NAME,
    AVG(S.SUB_LANGUAGE) AVG_LANGUAGE,
    AVG(S.SUB_MATHEMATICS) AVG_MATHEMATICS,
    AVG(S.SUB_ENGLISH) AVG_ENGLISH,
    AVG(S.SUB_HISTORY ) AVG_HISTORY,
    AVG(S.SUB_GEOGRAPHY ) AVG_GEOGRAPHY,
    AVG(S.SUB_BIOLOGICAL ) AVG_BIOLOGICAL,
    AVG(S.SUB_CHEMISTRY ) AVG_CHEMISTRY,
    AVG(S.SUB_PHYSICAL ) AVG_PHYSICAL,
    AVG(S.SUB_POLITICAL ) AVG_POLITICAL,
    AVG(S.SUB_COMPUTER ) AVG_COMPUTER,
    AVG(S.SUB_SPORTS ) AVG_SPORTS,
    AVG(S.SUB_ART ) AVG_ART,
    AVG(S.SUB_MUSIC ) AVG_MUSIC,
    AVG(S.SUB_SCORE_SUM ) AVG_SCORE_SUM
    FROM
    achievement.SUBJECT_SCORE_INFO S, achievement.CLASS_INFO CLA,
    achievement.GRADE_INFO GRA,
    achievement.YEAR_INFO YEA,SEMESTER_INFO SEM
    <where>
      S.CLASS_ID = CLA.CLASS_ID
      AND CLA.GRADE_ID = GRA.GRADE_ID
      AND S.SEMESTER_ID=SEM.SEMESTER_ID
      AND YEA.YEAR_ID=SEM.YEAR_ID
      <if test="yearId!=null and yearId!=''">
        AND YEA.YEAR_ID=#{yearId}
      </if>
      <if test="semesterId!=null and semesterId!=''">
        AND S.SEMESTER_ID=#{semesterId}
      </if>
      <if test="gradeId!=null and gradeId!=''">
        AND CLA.GRADE_ID=#{gradeId}
      </if>
      <if test="classType!=null and classType!=''">
        AND CLA.CLASS_TYPE=#{classType}
      </if>
    </where>
    GROUP BY
    S.SEMESTER_ID, CLA.CLASS_ID,
    GRA.GRADE_ID,CLA.CLASS_TYPE,SEM.SEMESTER_ID,
    YEA.YEAR_ID
    ORDER BY AVG(S.SUB_SCORE_SUM) DESC,S.CLASS_ID
  </select>

  <!--新增所有列-->
  <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="java.util.List">
    insert into<include refid="BASE_TABLE"/>(<include refid="BASE_COLUMN"/>)
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.id}, #{item.yearId}, #{item.semesterId}, #{item.gradeId}, #{item.classId}, #{item.classType},
      #{item.studentId}, #{item.teacherId}, #{item.subLanguage}, #{item.subMathematics}, #{item.subEnglish},
      #{item.subHistory}, #{item.subGeography}, #{item.subBiological}, #{item.subChemistry}, #{item.subPhysical},
      #{item.subPolitical}, #{item.subComputer}, #{item.subSports}, #{item.subArt}, #{item.subMusic},
      SYSDATE(),SYSDATE(),#{item.subScoreSum}
      )
    </foreach>
  </insert>

  <!--通过主键修改数据-->
  <update id="update" parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
      UPDATE
      <include refid="BASE_TABLE"/>
      <set>
        <if test="item.yearId != null and item.yearId != ''">
          year_id = #{item.yearId},
        </if>
        <if test="item.semesterId != null and item.semesterId != ''">
          semester_id = #{item.semesterId},
        </if>
        <if test="item.gradeId != null and item.gradeId != ''">
          grade_id = #{item.gradeId},
        </if>
        <if test="item.classId != null and item.classId != ''">
          class_id = #{item.classId},
        </if>
        <if test="item.classType != null and item.classType != ''">
          class_type = #{item.classType},
        </if>
        <if test="item.studentId != null and item.studentId != ''">
          student_id = #{item.studentId},
        </if>
        <if test="item.teacherId != null and item.teacherId != ''">
          teacher_id = #{item.teacherId},
        </if>
        <if test="item.subLanguage != null">
          sub_language = #{item.subLanguage},
        </if>
        <if test="item.subMathematics != null">
          sub_mathematics = #{item.subMathematics},
        </if>
        <if test="item.subEnglish != null">
          sub_english = #{item.subEnglish},
        </if>
        <if test="item.subHistory != null">
          sub_history = #{item.subHistory},
        </if>
        <if test="item.subGeography != null">
          sub_geography = #{item.subGeography},
        </if>
        <if test="item.subBiological != null">
          sub_biological = #{item.subBiological},
        </if>
        <if test="item.subChemistry != null">
          sub_chemistry = #{item.subChemistry},
        </if>
        <if test="item.subPhysical != null">
          sub_physical = #{item.subPhysical},
        </if>
        <if test="item.subPolitical != null">
          sub_political = #{item.subPolitical},
        </if>
        <if test="item.subComputer != null">
          sub_computer = #{item.subComputer},
        </if>
        <if test="item.subSports != null">
          sub_sports = #{item.subSports},
        </if>
        <if test="item.subArt != null">
          sub_art = #{item.subArt},
        </if>
        <if test="item.subMusic != null">
          sub_music = #{item.subMusic},
        </if>
        <if test="item.subScoreSum != null">
          SUB_SCORE_SUM = #{item.subScoreSum},
        </if>
        <if test="item.updateTime == null">
          update_time = SYSDATE(),
        </if>
        <if test="item.updateTime != null">
          update_time = #{item.updateTime},
        </if>
      </set>
      where id = #{item.id}
    </foreach>
  </update>

  <!--通过主键删除-->
  <delete id="delete">
    delete from
    <include refid="BASE_TABLE"/>
    where id in
    <foreach collection="list" item="item" index="no" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

</mapper>

